@model ERPWeb.Models.Administracao.Usuario

@{
    ViewBag.Title = "Detalhes do Usuário";
}

<h2>Detalhes</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Perfis.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perfis.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Usuarios", new { Model.ID })'"><i class="glyphicon glyphicon-edit"></i></button>
    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Usuarios")'"><i class="glyphicon glyphicon-backward"></i></button>
</p>
